
@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>

<h2>删除用户</h2>
<form action="~/backStage/userManagement/delete" method="post">
    UserName:<input type="text" id="userName" name="userName" /> <br />
    <input type="submit" id="postData" name="postData" value="删除"/>
</form>

