
@{
    ViewBag.Title = "search";
}

<h2>search</h2>

<h2>查询用户</h2>
<form action="~/backStage/userManagement/search" method="post">
    UserName:<input type="text" id="userName" name="userName" /> <br />
    <input type="submit" id="postData" name="postData" value="查询" />
</form>

