

<h2>register</h2>
<form method="post" action="~/account/accountSys/register">
    UserName<input type="text" id="userName" name="userName" />
    Pw:<input type="password" id="userPwd" name="userPwd" />
    Pwagain:<input type="password" id="userPwdAgain" name="userPwdAgain" />
    Age:<input type="text" id="userAge" name="userAge" />
    Sex:<input type="text" id="userSex" name="userSex" />
    Tel:<input type="text" id="userTel" name="userTel" />
    <input type="submit" id="postData" name="postData" />
</form>