@model Lazyfitness.Models.recharge
@{
    ViewBag.Title = "充值管理";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用TPAS后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("返回上一级", "Index", "payManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">
    <form action="~/backStage/payManagement/changeCard" method="post" autocomplete="off">
        <table class="insert-tab">
            <tr><th></th><td class="show-title">查询充值卡信息</td></tr>
            <tr>
                <th>
                    充值卡序列号
                </th>
                <td>
                    @Html.TextBoxFor(t => t.rechargeId, new { @class = "input-content" })
                    <div class="error-mes">@Html.ValidationMessageFor(t => t.rechargeId)</div>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="查询" />
                </td>
            </tr>
        </table>
    </form>
</div>