@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "小懒人后台管理系统";
}
<link rel="stylesheet" type="text/css" href="~/Css/backStageIndexLayout.css" />
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span></div>
    </div>
</div>
<!-------------------------------------------以下内容每个页面不同-------------------------------------------------->
<div content="index-content ">
    <div class="user-number content-container">
        <div class="box-title">
            <span>用户数量</span>
        </div>
        <div class="box-data-total">
            1000
        </div>
        <div class="day-register-number">
            <span>日注册量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
    <div class="article-number content-container">
        <div class="box-title">
            <span>文章数量</span>
        </div>
        <div class="box-data-total">
            1000
        </div>
        <div class="day-register-number">
            <span>日注册量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
    <div class="question-answer-number content-container">
        <div class="box-title">
            <span>论坛数量</span>
        </div>
        <div class="box-data-total">
            1000
        </div>
        <div class="day-register-number">
            <span>日注册量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
    <div class="forum-number content-container">
        <div class="box-title">
            <span>问答数量</span>
        </div>
        <div class="box-data-total">
            1000
        </div>
        <div class="day-register-number">
            <span>日注册量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
</div>

<div class="box-designer">
    <i>Lazyfitness was designed by: Oliver，Kaimar and Eason</i>
</div>