@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "TPAS后台管理系统";
}
<link rel="stylesheet" type="text/css" href="~/Css/backStageIndexLayout.css" />
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">🔈</i><span>欢迎使用TPAS后台管理系统</span></div>
    </div>
</div>
<!-------------------------------------------以下内容每个页面不同-------------------------------------------------->
<div class="box-designer">
    <i>TPAS was designed by: Oliver，Kaimar and Eason</i>
    <i>
        Technical Support: Liao Boss
    </i>
</div>