
<html>
<head>
    <title>小懒人后台管理系统</title>
    <link href="" rel="stylesheet" type="text/css"/>
</head>
<body>
    <ul>
        <li>用户管理</li>
        <li>资源文章专区管理</li>
        <li>论坛管理</li>
        <li>问答专区管理</li>
        <li>充值管理</li>
        <li>评论管理</li>
        <li>统计报表管理</li>
    </ul>

</body>
</html>