
@{
    ViewBag.Title = "forumInvitationSearch";
}
@model Lazyfitness.Models.postInfo

<h2>forumInvitationSearch</h2>
<h2>论坛帖子查询</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form method="post" action="~/backStage/forumManagement/forumInvitationSearch">
    <label>帖子ID</label> @Html.TextBoxFor(u => u.postId) @Html.ValidationMessageFor(x => x.postId)<br />
    <input type="submit" id="postData" name="postData" value="查询" />
</form>

<br /><a href="~/backStage/forumManagement/Index">返回</a><br />