@model Lazyfitness.Areas.DbTable.tables
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛管理";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用TPAS后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("论坛分区管理", "forumAreaIndex", "forumManagement")
                @Html.ActionLink("论坛帖子管理", "forumInvitationIndex", "forumManagement")
            </div>
        </div>
    </div>
</div>
