
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/MainStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <!--顶栏-->
    <div class="nav">
        <div class="nav-menu">
            <div class="nav-submenu1 fl">
                <ul>
                    <li class="nav-item"><a href="#">主页</a></li>
                    <li class="nav-item"><a href="#">资源</a></li>
                    <li class="nav-item"><a href="#">问答</a></li>
                    <li class="nav-item"><a href="#">论坛</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
