@{
    ViewBag.Title = "论坛评论管理";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加评论", "addForumComment", "commentManagement")
                @Html.ActionLink("删除评论", "deleteForumComment", "commentManagement")
                @Html.ActionLink("评论管理", "Index", "commentManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form method="post" action="">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">增加论坛评论</td></tr>
                <tr>
                    <th>选择论坛分区</th>
                    <td>
                        <select>
                            <option class="dropdown-list"></option>
                        </select>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
       
</div>

