
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<h2>论坛区评论管理</h2>
<a href="~/backStage/commentManagement/forumcommentShield">屏蔽评论</a><br />
<a href="~/backStage/commentManagement/forumcommentDelete">删除评论</a><br />

<h2>问答区评论管理</h2>
<a href="~/backStage/commentManagement/quesAnswcommentShield">屏蔽评论</a><br />
<a href="~/backStage/commentManagement/quesAnswcommentDelete">删除评论</a><br />
