
@{
    ViewBag.Title = "quesAnswcommentDelete";
}

@model Lazyfitness.Models.quesAnswReply

<h2>quesAnswcommentDelete</h2>
<h2>问答帖子评论删除</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form method="post" action="~/backStage/commentManagement/quesAnswcommentDelete">
    <label>问答帖子ID</label> @Html.TextBoxFor(u => u.quesAnswId) @Html.ValidationMessageFor(x => x.quesAnswId)<br />
    <label>评论者ID</label> @Html.TextBoxFor(u => u.userId) @Html.ValidationMessageFor(x => x.userId)<br />
    <input type="submit" id="postData" name="postData" value="删除" />
</form>
<br /><a href="~/backStage/commentManagement/Index">返回</a><br />

