
<h2>chagePassword</h2>

<form method="post" action="~/account/passwordManager/chagePassword">
    用户名<input type="text" id="loginId" name="loginId" />
    原密码<input type="password" id="userPwd" name="userPwd" />
    新密码<input type="password" id="userNewPwd" name="userNewPwd" />
    确认新密码<input type="password" id="sureUserNewPwd" name="sureUserPwd" />
    <input type="submit" />
</form>