@{
    ViewData["IsSearch"] = true;
    ViewData["IsHeadPic"] = true;
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}
@model Lazyfitness.Models.userSecurity
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Css/Input.css" rel="stylesheet" type="text/css" />
@*
    <form method="post" action="~/account/passwordManager/chagePassword">
        用户名<input type="text" id="loginId" name="loginId" />
        原密码<input type="password" id="userPwd" name="userPwd" />
        新密码<input type="password" id="userNewPwd" name="userNewPwd" />
        确认新密码<input type="password" id="sureUserNewPwd" name="sureUserPwd" />
        <input type="submit" />
    </form>*@

<div class="login-input">
    <form action="~/account/passwordManager/changePassword" method="post" autocomplete="off">
        <div class="login-input-content">
            <p>更改密码</p>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(x => x.loginId, new { @class = "input-text", @placeholder = "      用户名" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.loginId)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(x => x.userPwd, new { @type = "password", @class = "input-text", @placeholder = "       密码" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.userPwd)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    <input type="password" id="userNewPwd" name="userNewPwd" class="input-text" placeholder="      新密码" />
                </div>
                <div class="message-style">

                </div>
            </div>
            <input type="submit" id="postData" name="postData" class="input-btn" />
        </div>
    </form>
</div>