@model Lazyfitness.Models.userSecurity
@{
    ViewData["IsSearch"] = true;
    ViewData["IsHeadPic"] = true;
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Css/Input.css" rel="stylesheet" type="text/css" />

<div class="login-input">
    <form action="~/account/passwordManager/findPassword" method="post" autocomplete="off">
        <div class="login-input-content">
            <p>找回密码</p>           
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u=>u.userPwd, new { @class = "input-text" , @placeholder = "      新密码", @type="password"})
                    <input type="password" id="userPwd" name="userPwd" class="input-text" placeholder="      新密码" />
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(u=>u.userPwd)
                </div>
            </div>
            <input type="submit" id="postData" name="postData" class="input-btn" />
        </div>
    </form>
</div>
