
<h2>findPassword</h2>
<form method="post" action="~/account/passwordManager/findPassword">
    用户名<input type="text" id="userName" name="userName"/>
    电话<input type="text" id="userTel" name="userTel">
    密码<input type="password" id="userPwd" name="userPwd"/>
    确定密码 <input type="password" id="sureUserPwd" name="sureUserPwd">
    <input type="submit" />
</form>
