@model Lazyfitness.Models.resourceArea
@*@{
    ViewBag.Title = "findArea";
}*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>findArea</h2>

<form method="post" action="~/backStage/articleManagement/findArea">
    <label>输入需要查询的分区名：</label>   @Html.TextBoxFor(t => t.areaName) @Html.ValidationMessageFor(t => t.areaName)
    <input type="submit" value="查询"/>
</form>