
@{
    ViewData["IsSearch"] = false;
    ViewData["IsHeadPic"] = true;
    ViewBag.IsDefaultContent = true;
    ViewBag.Title = "文章编辑";
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}
@*
    本页需要变量：
    ViewBag.PartId 代表是对哪个分区进行添加 int
    ViewBag.UserId 用户id int
*@
<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 400,
        elementPathEnabled: false,
        wordCount: false,
    });
    editor.render('editor');
</script>

<div class="editor">
    @using (Html.BeginForm("ArticleSubmit", "Api", FormMethod.Post))
    {
        <input type="hidden" id="areaId" name="areaId" value="@ViewBag.PartId" />
        <input type="hidden" id="userId" name="userId" value="@ViewBag.UserId" />
        <input id="title" name="title" class="title" type="text" placeholder="输入一个清晰明白的标题吧" autocomplete="off" />
        <textarea id="editor" name="editor"></textarea>
        <input id="submit" type="submit" value="发布" />
    }
</div>
}
