
<h2>login</h2>

<form action="~/account/account/login" method="post">
    <input type="text" id="loginId" name="loginId" />
    <input type="password" id="userPwd" name="userPwd" />
    <input type="submit" id="postData" name="postData" />
</form>
