.result-content{
    float:left;
}
.result-tab{margin-top:30px; margin-left:50px;}
.result-tab{width:1200px; border-collapse:collapse;border: 1px solid #ddd;}
.result-tab th{font-weight: normal;font-size: 15px;text-align: left;background: url(../images/tab-thbg.png) #f9f9f9 0 bottom repeat-x;}
.result-tab th,.result-tab td{padding:5px;border-bottom: 1px solid #ddd;border-right: 1px solid #e1e1e1;}
.result-tab tr{line-height:35px;}
.result-tab th.tc,.result-tab td.tc{text-align: center;}
.result-tab tr:nth-child(odd){background: #f9f9f9;}
.result-tab tr:hover{background: #f1f1f1;}
.result-tab tr.even-tr{background: #e9fff2;}
.page-number{position:absolute;left:700px;top:720px;}
.btn-submit{border:0; padding:0; background:none;margin-right:5px; cursor:pointer; font-size:19px;}
.btn-submit:hover{color:red}
.text-summer{border:0; padding:0; background:none;margin-right:5px;font-size:19px}

.insert-tab{border-collapse:collapse;border:1px solid #eee;}
.insert-tab th,.insert-tab td{border:1px solid #eee;}
.insert-tab tr{line-height:60px;}
.insert-tab th{text-align:right;font-weight:normal;padding-right:10px;font-size:14px;}
.insert-tab td{text-align:center;padding-left:10px;}
.insert-tab{margin:50px 0 0 600px; min-width:600px;background-color: #e1e1e1;}
.insert-tab th{text-align:center;}
.input-content{width:300px; height:35px;}
.show-border{border:1px solid rgba(0, 0, 0, 0.4); padding:10px; width:100px;}
.txt-unchange{border:none; background:none; text-align:center;font-size:20px;}
.radio-dis{margin-left:25px; margin-right:5px;}
.dropdown-list{width:280px; height:35px;}
.error-mes{height:20px; font-size:15px; max-height:20px; line-height:5px}
.show-title{font-size:20px;background-color:floralwhite}
.index-btn{color: #3e5667;border:none;background:none; font-size:16px}
.index-btn:hover{color:red; cursor:pointer}