/*总设置 用来被覆盖*/
body {
    background-color: rgb(245, 245, 245);
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
a:visited,a:link,a:active,a:hover{
    color:black;
}
/*li小圆点消失*/
li{
    list-style:none;
}

/*向左浮动*/
.fl{
    float:left
}
/*向右浮动*/
.fr{
    float:right
}

.head{
    position:relative;
}
/*导航栏 白色透明 */
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index:100;
}
/*导航栏项目 向左浮动*/
.nav-menu{
    width:1000px;
    height:50px;   
    margin:0 auto/*水平垂直居中*/
}

.nav-submenu1{

}
/*导航栏每个项的基础*/
.nav-item {
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
    padding-right:20px;
    padding-left: 20px;
    font-size: 15px;
}
.nav-item:hover{
    background-color:rgba(255,255,255,0.5);
}

/*阴影*/
.shadow {
    box-shadow: 2px 0px 3px; 
}

.head-picture {
    z-index: 99;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align:center;
    vertical-align:middle;
}

.nav-search {
    height: 20px;
    width: 200px;
    margin: 15px;
    position: absolute;
    left: 70%;
    top: 75%;
}

.nav-search input{
    outline:none;
    border-style:hidden;
    border-radius:5px 5px;
    font-size:15px;
}

.nav-headPic{
    margin-top:5px;
    height:40px;
    max-width:400px;
    overflow:hidden;

}

.nav-headPic *{
    vertical-align:middle;
}

.nav-headPic span{
    padding-left:5px;
    font-size:15px;
}

.content-body{
    position:relative;
    width:70%;
    min-width:1000px;
    margin:0 auto;
}
.head-reg-log{
    height:50px;
    margin:0 auto;
    text-align:center;
    line-height:50px;
}
