.part-list{
    position:relative;
    width:100%;
    min-width:1100px;
    height:50px;
    border-bottom:1px solid rgb(168, 168, 168);
}
.nav{
    min-width:1300px;
}
.head-picture {
    min-width: 1300px;
}

.part-list-item li{
    width:100px;
    height:100%;
    line-height:50px;
    text-align:center;
    font-family:DengXian;
    font-size:16px;
    font-weight:bold;
    float:left;
}
.part-list-item li:first-child{
    padding-left:20px;
}
.part-list-item a {
    color: rgb(122, 122, 122);
}
.part-list-item a:hover{
    color:rgb(63, 63, 63);
}

.content {
    width: 100%;
    min-width: 1100px;
    height: 100px;
    line-height: 100px;
}
.content-title {
    height: 100px;
    font-size: 30px;
    font-family: DengXian;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    margin-left: 50px;
    color: rgb(68, 68, 68);
}
@keyframes askQues-btn-hover{
    from {
        background-color: rgb(219, 39, 39);
    }
    to {
        background-color: rgb(237, 52, 52);
    }
}
@keyframes askQues-btn{
    to {
        background-color: rgb(219, 39, 39);
    }

    from {
        background-color: rgb(237, 52, 52);
    }
}
.content-askQues-btn{
    position:absolute;
    right:0px;
    width:200px;
    height:40px;
    background-color:rgb(219, 39, 39);
    border:1px solid rgb(124, 124, 124);
    border-radius:10px;
    text-align:center;
    margin:30px;
    animation:askQues-btn 0.5s;
}
.content-askQues-btn:hover{
    background-color:rgb(237, 52, 52);
    animation:askQues-btn-hover 0.5s;
}
.content-askQues-btn-text{
    position:absolute;
    right:0px;
    height:40px;
    width:200px;
    line-height:40px;
}

.content-ques {
    width: 100%;
    min-width: 1100px;
    position: relative;
}

.ques-list {
    width: 800px;
    position: relative;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}
.ques-list-item {
    width: 800px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    margin-top: 2px;
}
.ques-list-item:hover {
    background-color: rgb(252, 252, 252);
}

.item-con{
    width:750px;
    height:80px;
    padding:10px 25px 10px 25px;
    margin:0;
}
.item-title {
    margin: 0;
    padding: 0;
    height: 25px;
    width: 700px;
    overflow: hidden;
}
.item-introduction{
    margin:0;
    padding:0;
    padding-left:10px;
    color:rgb(143, 143, 143);
    font-family:'Microsoft YaHei';
    width:700px;
    height:21px;
    overflow:hidden;
}
.item-user{
    margin:0;
    padding:0;
    height:40px;
    overflow:hidden;
    width:700px;
    line-height:40px;

}
.user-pic{
    width:30px;
    height:30px;
    border-radius:40px;
    overflow:hidden;
    margin:0;
    margin-top:5px;
}
.user-pic img{
    width:30px;
    height:30px;
    margin:0;
}
.user-name{
    padding-left:20px;
    height:40px;
    width:100px;
    font-size:15px;
}

.content-list-bar{
    width:100%;
    position:relative;
}
.right-bar {
    position: absolute;
    right:30px;
    top: 0px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    height:300px;
    border:1px solid rgb(216, 216, 216);
}

.go-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
.go-top:hover{
    opacity:0.8;
}
.go-top img{
    width:50px;
}

.vis {
    visibility: visible;
}

.unvis {
    visibility: hidden;
}
.bar-headPic{
    margin:20px auto;
    width:50px;
    height:50px;
    display:flex;
    border-radius:25px;
}
.bar-p{
    height:20px;
    line-height:20px;
    width:100px;
    margin:30px auto;
    font-size:15px;
    font-family:YouYuan;
    font-weight:900;
}