@*@{ 
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}*@
@model Lazyfitness.Models.userSecurity
<h2>login</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form action="~/account/userManagement/login" method="post">
    @Html.TextBoxFor(x => x.loginId) @Html.ValidationMessageFor(x => x.loginId) <br />
    @Html.TextBoxFor(x => x.userPwd) @Html.ValidationMessageFor(x => x.userPwd)<br/>
    <input type="submit" id="postData" name="postData" />
</form>
