@model Lazyfitness.Models.userInfo
<h2>填写用户信息</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form method="post" action="~/account/userManagement/registerInfo">
    <label>年龄</label> @Html.TextBoxFor(u => u.userAge) @Html.ValidationMessageFor(x => x.userAge)<br />
    <label>性别</label>
    <input type="radio" id="sex" name="userSex" value="0" />女
    <input type="radio" id="sex" name="userSex" value="1" />男
    <input type="radio" id="sex" name="userSex" value="2" />保密
    <label>电话</label>@Html.TextBoxFor(u => u.userTel) @Html.ValidationMessageFor(x => x.userTel)<br />
    <input type="submit" />
</form>